<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZooTracer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <ZooTracer.Properties.Settings>
            <setting name="videofilepath" serializeAs="String">
                <value/>
            </setting>
            <setting name="lambda_d" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="lambda_u" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lambda_o" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="patch_size" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="num_pca_data" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="pca_dim" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="max_occlusion_duration" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="matches_per_keyframe" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="index_approx_ratio" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="max_matches_per_frame" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="matches_appearance_threshold" serializeAs="String">
                <value>1E+100</value>
            </setting>
            <setting name="index_accuracy" serializeAs="String">
                <value>3</value>
            </setting>
        </ZooTracer.Properties.Settings>
    </userSettings>
</configuration>
